body {
    background-color: #1b1b1b;
}

table, td, th {
    border: 1px solid white;
}

.logoutButton {
    background-color: #1b1b1b;
    width: 10%;
    margin-top: 0;
    height: 40px;
    font-size: 70%;
    color: white;
}

.patientInfo {
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 30%;
}

.appointments {
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 19%;
    margin-top: 10%;
}